<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="default" value="Server=88b343d6-b238-4432-8194-a36300b355b8.sqlserver.sequelizer.com;Database=db88b343d6b23844328194a36300b355b8;User ID=yjyjpcytbmriadai;Password=QLxFeyVzReRTRUGBb8NcJSzjancsNkLoMCRmcX5HHFNFwobp6otcB7R6knEZvCUF;"/>
  </appSettings>
</configuration>
