<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="default" value="Server=c4277c5b-d558-43d6-a1ca-a36800b8186c.sqlserver.sequelizer.com;Database=dbc4277c5bd55843d6a1caa36800b8186c;User ID=vqcmfvrqtfhmswqk;Password=LtGNWZ7UEtR4sKMe2nGZZToHWtNDMNJXRV3v2oAaPs73iUviGnHDuVFZe8YBmBhZ;"/>
  </appSettings>
</configuration>
